body{
	/*background-color: #DAF8FF;*/
	background-color: orange;


}

#content_window{
	width: 80%;

}

.ticker_symbol{
	color: white;
	background-color: blue;
	/*width: 3.4em; */
	font-size: .8em;
	padding: 5px;
	margin-right: 10px;
	text-align: center;
	vertical-align: center;
	height :3em;
	line-height: 3em;
	max-width: 3.4em;
	display: inline;
}

.stock_name{
	border: solid 2px black;
	display: inline;
	/*max-width: 30%;*/
}

.portfolio_entry{
	height: 85px;
	background-color: #33C133;
	font-family: Verdana;
	margin: 2em;

}

.s1 {
	position: relative;
	top: .5em;
	left: .5em;
	width:50%;
}

.s2 {
	/*float: right;*/
	position:relative;
	float:right;
	padding-right: 5px;

}

.s3 {

}

#top_banner {
	background-color: black;
	color: white;
	font-size: 50px;
	width: 35%;
}

#top_nav{

}