{% extends "base.html" %}

{% block content %}
This is override index content.
{% end block %}

<!-- -*- mode: django-html -*- -->
<!--
{% load django_tables2 %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/static/icon-square.png">

    <link href="../bootstrap.css" rel="stylesheet">
    <style>
      h2 { text-align: center; }
      h4 { text-align: center; }
    </style>

  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Event</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class=""><a href="/smooth/">Smooth</a></li>
              <li class=""><a href="/fill/">Fill</a></li>
            </ul>
          </div>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.first_name }} <b class="caret"></b> </a>
              <ul class="dropdown-menu">
                <li><a href="/accounts/logout/">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    {% block content %}
    <div class="container">
      <div class="hero-unit">
        <h1>Welcome to Event</h1>
        <p>Forget everything you know about news!</p>
        <p>
          <a href="/help/" class="btn btn-primary btn-large">Learn more</a>
          <a href="/smooth/" class="btn btn-primary btn-large">Smooth over the rough edges</a>
          <a href="/fill/" class="btn btn-primary btn-large">Fill in the gaps</a>
          <a href="/audit/" class="btn btn-primary btn-large">Review work</a>
        </p>
      </div>

      <div class="row">
        <div class="span12">
          <h2>Daily Stats</h2>
          <h4>({{ range }} UTC)</h4>

          <div class="row">
            <div class="span4 offset4">
          <table class="table table-striped">
            <tr>
              <th colspan=2>Overall</th>
            </tr>
            {% for name, value in overall %}
            <tr>
              <td align="left">{{name}}</td>
              <td align="left">{{value}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
          
          {% render_table table %}
        </div>
      </div>

    </div>
    {% endblock %}
  </body>

  <script src="/static/jquery.1.8.2.js"></script>
  <script src="/static/twitter-bootstrap/js/bootstrap.min.js"></script>
</html>

-->
